<!DOCTYPE html>
<html>
  <head>
    <style>
        #frame { width: 400px; height:900px; scrolling:no; border: 2px solid black;}
    </style>
  </head>
  <body>
    <div class="container home home-welcome">
      <h1> <a href="https://docs.google.com/spreadsheets/d/1mkU9m5V5Z79_cMm95Md1ZQTcjvIGP2HwxkG8pSamAPk/edit?usp=sharing" target="googleSheet">
        제2대 1신2중삐약 리그
      </a></h1>
      <iframe id="frame" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSdN9AJf3m92KafycNWUFZNfpCc0i3MZI9ixEacI1I2YPV3VzD8x-FUbADZG8IgO9rK3nbneHOGiVbj/pubhtml?widget=true&amp;headers=false"></iframe>
    </div>
  </body>
</html>
